schedowai.duckdns.org {
    handle /api/* {
        reverse_proxy gateway-service:8088
    }

    handle {
        reverse_proxy frontend:80
    }
}

pavithran.duckdns.org {
    reverse_proxy developer-portfolio:80
}
